<div class="ui container">
  <!-- Headers -->
  <h1 class="ui header">Header 1</h1>
  <h2 class="ui header">Header 2</h2>
  <h3 class="ui header">Header 3</h3>
  <h4 class="ui header">Header 4</h4>
  <h5 class="ui header">Header 5</h5>
  <h6 class="ui header">Header 6</h6>

  <h1 class="ui header tiny">Header 1 tiny</h1>
  <h2 class="ui header small">Header 2 small</h2>
  <h3 class="ui header medium">Header 3 medium</h3>
  <h4 class="ui header large">Header 4 large</h4>
  <h5 class="ui header large">Header 5 large</h5>
  <h6 class="ui header huge">Header 6 huge</h6>
  <hr>

  <!-- Buttons -->
  <button>button</button>
  <button class="ui button">Semantic Button</button>
  <button class="ui button primary">Primary Button</button>
  <button class="ui button secondary">secondary Button</button>
  <button class="ui button positive">positive Button</button>
  <button class="ui button negative">negative Button</button>
  <br><br>
  <button class="ui button red mini">red mini</button>
  <button class="ui button blue tiny">blue tiny</button>
  <button class="ui button green small">green small</button>
  <button class="ui button purple medium">purple medium</button>
  <button class="ui button yellow large">yellow large</button>
  <button class="ui button brown big">brown big</button>
  <button class="ui button orange huge">orange huge</button>
  <button class="ui button olive massive">olive massive</button>
  <button class="ui button teal">teal</button>
  <button class="ui button violet">violet</button>
  <button class="ui button grey">grey</button>
  <button class="ui button grey loading">grey loading</button>
  <br><br>
  <button class="ui button basic red">basic red</button>
  <button class="ui button basic blue">basic blue</button>
  <button class="ui button basic teal">basic teal</button>
  <button class="ui button basic purple fluid">basic purple fluid</button> Animated
  <br><br> Labeled
  <br><br>
  <button class="ui button icon"><i class="cloud icon"></i></button>
  <button class="ui button icon"><i class="pause icon"></i></button>
  <button class="ui button icon"><i class="right arrow icon"></i></button>
  <div class="ui buttons">
  <button class="ui button">Cancel</button>
  <div class="or"></div>
  <button class="ui positive button">Save</button>
</div>
  <div class="ui buttons">
    <button class="ui button">1</button>
    <button class="ui button">2</button>
    <button class="ui button">3</button>
  </div>
  <hr>

  <!-- Labels -->
  <div class="ui label">
    <i class="mail icon"></i> 23
  </div>
  <a class="ui image label">
      <img src="./assets/img/FB-02-squashed.jpg">
      Stephen & Nichole
  </a>
  <br><br>
  <form class="ui fluid form" action="index.html" method="post">
    <div class="field">
      <input type="text" name="" value=""><br>
      <div class="ui down pointing red basic label">
        That username is taken
      </div>
    </div>
  </form>
  <br><br>
  <a class="ui massive tag label">Single tag</a>
  <br><br>
  <div class="ui small tag labels">
    <a class="ui label">Groups</a>
    <a class="ui red label">Groups</a>
    <a class="ui teal label">Groups</a>
  </div>
  <hr>

  <!-- Lists (sizeable)-->
  <div class="ui medium relaxed middle aligned animated list">
    <div class="item">
      <img class="ui avatar image" src="./assets/img/FB-02-squashed.jpg">
      <div class="content">
        <a class="header">Rachel</a>
        <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
      </div>
    </div>
    <div class="item">
      <img class="ui avatar image" src="./assets/img/FB-02-squashed.jpg">
      <div class="content">
        <a class="header">Lindsay</a>
        <div class="description">Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.</div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Breadcrumb -->
  <div class="ui breadcrumb">
    <a class="section">Home</a>
    <span class="divider">/</span>
    <a class="section">Search</a>
    <span class="divider">/</span>
    <div class="active section">Cart</div>
  </div>
  <br><br>
<hr>

<!-- Segments (change class completed and active/disabled)-->
    <div class="ui phone stackable steps">
        <div class="step completed">
            <i class="icon truck"></i>
            <div class="content">
                <div class="title">Shipping</div>
                <div class="description">Choose options</div>
            </div>
        </div>
        <div class="step active">
            <i class="icon payment"></i>
            <div class="content">
                <div class="title">Payment</div>
                <div class="description">Billing Information</div>
            </div>
        </div>
        <div class="step disabled">
            <i class="icon info"></i>
            <div class="content">
                <div class="title">Confirm Order</div>
            </div>
        </div>
    </div>

<hr>
<!-- Tables & Pagination -->
<table class="ui table"> <!-- celled optional class -->
    <thead>
        <tr>
            <th>HEADER</th>
            <th>HEADER</th>
            <th>HEADER</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div class="ui ribbon label basic red">
                First
            </div></td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <td><div class="ui ribbon label green">
                Second
            </div></td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">
                <div class="ui right floated pagination menu">
                    <a href="#" class="icon item">
                        <i class="icon left chevron"></i>
                    </a>
                    <a href="#" class="item">1</a>
                    <a href="#" class="item">2</a>
                    <a href="#" class="item">3</a>
                    <a href="#" class="item">4</a>
                    <a href="#" class="icon item">
                        <i class="icon right chevron"></i>
                    </a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>


<!-- End of Sandbox -->
</div>
