@import "variables";

#footer {
    width: 100%;
    bottom: 0;
}

#cvr {
  padding: 8px 0;
}

#footer a.inverted-link {
    color: $inverted-link-color;
}

#footer a.social {
    color: $inverted-link-color;
    padding: 6px 6px;
}
