// == FONTS
$headline-font: 'Comfortaa:700', Helvetica, cursive;
$text-font: 'Open Sans', Arial, sans-serif;

// == COLORS
$theme-color: #fff;
$secondary-color: #fff;
$ternary-color: #fff;
$headline-color: #fff;
$text-color: #fff;
$link-color: #fff;
$link-hover: #fff;
$link-active: #fff ;
$link-visited: #fff ;

// == SIZES
$footer-height: 80px;
$round-radius: 10px;
