// == FONTS
$headline-font: 'Comfortaa:700', Helvetica, cursive;
$text-font: 'Open Sans', Arial, sans-serif;

// == COLORS
$theme-color: #00364F;
$secondary-color: #53A870;
$ternary-color: #fff;
$headline-color: #ffeb3b;
$text-color: #000;
$link-color: #ffeb3b;
$link-hover: #ffeb3b;
$link-active: #ffeb3b;
$link-visited: #ffeb3b;

// == SIZES
$navbar-height: 80px;
$footer-height: 80px;
$round-radius: 10px;
