// == THEME
// Allowed values: Default, Dark
$theme: Default;

// == COLORS
// Default
$theme-color: #36485D;
$secondary-color: #03a9f4;
$ternary-color: #212121;
$navbar-color: #f4511e;
$navbar-link-color: #fafafa;
$headline-color: #03a9f4;
$text-color: #fafafa;
$link-color: #03a9f4;
$inverted-link-color: #000;
$darken-amount: 15%;

// Not implemented yet
@if $theme == Dark {
    $theme-color: #212121;
    $secondary-color: #546e7a;
    $ternary-color: #fff;
    $navbar-color: #0091ea;
    $navbar-link-color: #fafafa;
    $headline-color: #eceff1;
    $text-color: #eceff1;
    $link-color: #eceff1;
    $inverted-link-color: #fff;
    $darken-amount: 15%;
}

// == FONTS
$headline-font: 'Comfortaa:700', Helvetica, cursive;
$text-font: 'Open Sans', Arial, sans-serif;

// == SIZES
$navbar-height: 65px;
$footer-height: 80px;
$round-radius: 10px;
$component-padding: 50px 0;
