@import "variables";

.container {
  background-color: #010BFF;
  color: #FFF;
  width: 100%;
  height: 100vh;
  padding: 0 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
  // h-header
  // l-logo
  // d-detail
  // c-cta
  // s-search
  // f-footer
  // x-filler
  grid-template-areas:
        "h h h"
        "x l l"
        "s s s"
        "d d c"
        "f f f";
}

.header {
  grid-area: h;
}

.logo {
  grid-area: l;
}

.search {
  grid-area: s;
}

.detail {
  grid-area: d;
}

.cta {
  grid-area: c;
}

.footer {
  grid-area: f;
}
