<!-- SEC: Main splash text with CTA and seach bar, to be moved to the TS file after search func is working -->
<div class="ui header main fluid container" id="header-container">
    <div class="ui two column fluid grid" id="header-grid">
        <div class="column" id="logo-text">
             <h1 class="ui inverted header">WeSub</h1>
        </div>
        <div class="column">
             <h2 class="logo-text2">Welcome to the easiest and fastest way to discover and sign up for your subscriptions services!</h2>
        </div>
    </div>
   <div class="ui text container">
      <br>
      <br>
      <app-steps></app-steps>
      <br>
      <br>
      <app-start-button></app-start-button>
      <br>
      <app-search-bar></app-search-bar>
  </div>
</div>
