<h3>Your Offers:</h3>
<table class="ui collapsing celled inverted blue table segment">
  <thead>
    <tr class="center aligned">
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Period</th>
      <th>Terms</th>
      <th>Talk</th>
      <th>Data</th>
      <th>SMS/MMS</th>
      <th>Speed Up</th>
      <th>Speed Down</th>
      <th>Family Package Info</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let offer of offers">
      <td>
        <h2 class="ui center aligned header">{{ offer.name }}</h2>
      </td>
      <td>
        {{ offer.description }}
      </td>
      <td>
        {{ offer.category }}
      </td>
      <td class="right aligned">
        {{ offer.period }}<br>
      </td>
      <td>
        {{ offer.terms }}
      </td>
      <td>
          {{ offer.talk }}
      </td>
      <td>
          {{ offer.data }}
      </td>
      <td>
          {{ offer.sms }}
      </td>
      <td>
          {{ offer.speedUp }}
      </td>
      <td>
          {{ offer.speedDown }}
      </td>
      <td>
          {{ offer.family }} - {{ offer.familyInfo }}
      </td>
      <td class="single line right aligned">
          {{ offer.price }} pr. month &nbsp;&nbsp;
          <a href="{{ offer.svcUrl }}" target="_blank"><button type="button" class="ui inverted red circular button">Sign up</button></a>
      </td>
    </tr>
  </tbody>
</table>
