<!-- Segments (change class completed and active/disabled)-->
    <div class="ui mini four steps" id="steps">
        <div class="step"> <!-- then completed-->
            <i class="icon user circle"></i>
            <div class="content">
                <div class="title">Select Persona</div>
                <div class="description"></div>
            </div>
        </div>
        <div class="step">
            <i class="icon payment"></i>
            <div class="content">
                <div class="title">Choose Budget</div>
                <div class="description"></div>
            </div>
        </div>
        <div class="step">
            <i class="icon checkmark box"></i>
            <div class="content">
                <div class="title">Select Services</div>
            </div>
        </div>
        <div class="step complete">
            <i class="icon list"></i>
            <div class="content">
                <div class="title">Subscribe</div>
            </div>
        </div>
    </div>
