@import "variables";

#main-container {
    min-height: 100%;
    margin-top: $navbar-height;
    padding: $component-padding;
    // background-image: url('../assets/images/1920x1080/wave.png');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-color: #2196f3;
}
